<!-- BEGIN: Subheader -->

<div class="slds-notify_container">
	<ngl-notification *ngIf="showAlert" type="alert" [severity]="severity" (nglNotificationClose)="onClose($event)" timeout="5000" class="slds-theme--alert-texture">
		<h2>{{aler_message}}</h2>
	</ngl-notification>
</div>
<div class="m-subheader">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title">
				Mi perfil
			</h3>
		</div>

	</div>
</div>
<!-- END: Subheader -->
<div class="m-content">
	<div class="row">
		<div class="col-xl-3 col-lg-4">
			<div class="m-portlet m-portlet--full-height">
				<div class="m-portlet__body">
					<div class="m-card-profile">
						<div class="m-card-profile__title m--hide">
							Your Profile
						</div>
						<div class="m-card-profile__pic">
							<div class="m-card-profile__pic-wrapper">
								<img (click)="popupVisible=true" alt="" class="m--img-rounded m--marginless m--img-centered" [src]="user.img">

							</div>
						</div>
						<div class="m-card-profile__details">
							<span class="m-card-profile__name">{{ user.nombre }}</span>
							<a href="#" class="m-card-profile__email m-link">{{ user.cargo }}</a>
						</div>

					</div>
					<div class="m-portlet__body-separator"></div>

				</div>
			</div>
		</div>
		<div class="col-xl-9 col-lg-8">
			<div class="m-portlet m-portlet--full-height m-portlet--tabs">
				<div class="m-portlet__head">
					<div class="m-portlet__head-tools">
						<ul class="nav nav-tabs m-tabs m-tabs-line   m-tabs-line--left m-tabs-line--primary" role="tablist">
							<li class="nav-item m-tabs__item">
								<a class="nav-link m-tabs__link " data-toggle="tab" href="#m_user_profile_tab_1" role="tab">
									<i class="flaticon-share m--hide"></i>
									Cambiar contraseña
								</a>
							</li>
							<li class="nav-item m-tabs__item">
								<a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_user_profile_tab_2" role="tab">
									Perfil
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="tab-content">
					<div class="tab-pane" id="m_user_profile_tab_1">
						<form #f="ngForm" (ngSubmit)="onSubmit()" class="m-form m-form--fit m-form--label-align-right">
							<div class="m-portlet__body">
								<div class="form-group m-form__group row">
									<div class="col-10 ml-auto">
										<h3 class="m-form__section">
											Cambiar contraseña
										</h3>
									</div>
								</div>
								<div class="form-group m-form__group row" >
									<label for="example-text-input" class="col-2 col-form-label">
										Contraseña actual
									</label>
									<div class="col-7">
										<input (keypress)="verify($event)" (blur)="verifyOnBlur($event)" class="form-control m-input" type="password" name="actual"  [(ngModel)]="data.actual.value" #_actual="ngModel">
										<div *ngIf="data.actual.error && _actual.touched" class="form-control-feedback">
											La contraseña actual no es correcta.
										</div>
										<div *ngIf="!data.actual.error && _actual.touched" class="form-control-feedback">
											La contraseña es correcta.
										</div>
									</div>
								</div>
								<div class="form-group m-form__group row" [ngClass]="{'has-danger':_nueva.touched && _nueva.invalid,'has-success':_nueva.valid && _nueva.touched}">
									<label for="example-text-input" class="col-2 col-form-label">
										Contraseña nueva
									</label>
									<div class="col-7">
										<input  [disabled]="data.actual.error" class="form-control m-input" type="password" pattern="[a-zA-Z0-9\_\-]{8,20}" name="nueva"  [(ngModel)]="data.nueva" #_nueva="ngModel">
									</div>
								</div>
								<div class="form-group m-form__group row" [ngClass]="{'has-danger':_confirmar.touched && data.error,'has-success':_confirmar.touched && !data.error}">
									<label for="example-text-input" class="col-2 col-form-label">
										Contraseña nueva
									</label>
									<div class="col-7">
										<input (blur)="verify2()" [disabled]="data.actual.error" class="form-control m-input" type="password" name="confirmar" pattern="[a-zA-Z0-9\_\-]{8,20}"  [(ngModel)]="data.confirmar" #_confirmar="ngModel">
										<div *ngIf="data.error && _actual.touched" class="form-control-feedback">
											Las contraseñas no son iguales.
										</div>
										<div *ngIf="!data.error && _actual.touched" class="form-control-feedback">
											La contraseña es correcta.
										</div>
									</div>
								</div>

							</div>
							<div class="m-portlet__foot m-portlet__foot--fit">
								<div class="m-form__actions">
									<div class="row">
										<div class="col-2"></div>
										<div class="col-7">
											<button [disabled]="(data.actual.error || data.error)" type="submit" class="btn btn-accent m-btn m-btn--air m-btn--custom">
												Guardar
											</button>
											&nbsp;&nbsp;
											<button type="reset" class="btn btn-secondary m-btn m-btn--air m-btn--custom">
												Cancelar
											</button>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
					<div class="tab-pane active" id="m_user_profile_tab_2">
						<form class="m-form m-form--fit m-form--label-align-right">
							<div class="m-portlet__body">
								<div class="form-group m-form__group m--margin-top-10 m--hide">
									<div class="alert m-alert m-alert--default" role="alert">
										The example form below demonstrates common HTML form elements that receive updated styles from Bootstrap with additional classes.
									</div>
								</div>

								<div class="form-group m-form__group row">
									<div class="col-10 ml-auto">
										<h3 class="m-form__section">Datos Personales</h3>
									</div>
								</div>

								<div class="form-group m-form__group row">
									<label for="example-text-input" class="col-2 col-form-label">Nombre</label>
									<div class="col-7">
										<input readonly class="form-control m-input" type="text" pattern="[a-zA-Z0-9\_\-]{8,20}" name="nombre"  [(ngModel)]="user.nombre" #_nombre="ngModel">
									</div>
								</div>
								<div class="form-group m-form__group row">
									<label for="example-text-input" class="col-2 col-form-label">Correo electrónico</label>
									<div class="col-7">
										<input readonly class="form-control m-input" type="text" pattern="[a-zA-Z0-9\_\-]{8,20}" name="email"  [(ngModel)]="user.email" #_email="ngModel">
									</div>
								</div>
								<div class="form-group m-form__group row">
									<label for="example-text-input" class="col-2 col-form-label">Cargo</label>
									<div class="col-7">
										<input readonly class="form-control m-input" type="text" pattern="[a-zA-Z0-9\_\-]{8,20}" name="cargo"  [(ngModel)]="user.cargo" #_cargo="ngModel">
									</div>
								</div>
								<div class="form-group m-form__group row">
									<label for="example-text-input" class="col-2 col-form-label">Phone No.</label>
									<div class="col-7">
										<input readonly class="form-control m-input" type="text" pattern="[a-zA-Z0-9\_\-]{8,20}" name="rol"  [(ngModel)]="user.rol" #_rol="ngModel">
									</div>
								</div>

								<div class="m-form__seperator m-form__seperator--dashed m-form__seperator--space-2x"></div>


							</div>
							<div class="m-portlet__foot m-portlet__foot--fit" style="display: none;">
								<div class="m-form__actions">
									<div class="row">
										<div class="col-2">
										</div>
										<div class="col-7">
											<button type="reset" class="btn btn-accent m-btn m-btn--air m-btn--custom">Guardar</button>&nbsp;&nbsp;
											<button type="reset" class="btn btn-secondary m-btn m-btn--air m-btn--custom">Cancelar</button>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<dx-popup
		class="popup"
		[minWidth]="300"
		[maxWidth]="700"
		[height]="350"
		[showTitle]="true"
		title="Information"
		[dragEnabled]="true"
		[resizeEnabled]="true"
		[closeOnOutsideClick]="true"
		[(visible)]="popupVisible">
	<div *dxTemplate="let data of 'content'">
		<div>
			<input type="file" (change)="fileChangeEvent($event)" />
			<image-cropper style="width: 50%;float: left;"
					[imageChangedEvent]="imageChangedEvent"
					[maintainAspectRatio]="true"
					[aspectRatio]="1 / 1"
					[resizeToWidth]="128"
					format="png,jpeg"
					(imageCroppedBase64)="imageCropped($event)"
					(imageLoaded)="imageLoaded()"
					(loadImageFailed)="loadImageFailed()"></image-cropper>
			<div style="text-align: center" class="m-card-profile__pic-wrapper">
				<img  [src]="croppedImage" alt="" class="m--img-rounded m--marginless m--img-centered">
			</div>
			<div style="position: absolute;bottom: 10px;right:10px;text-align: right;">
				<dx-button
						class="button-info"
						text="Actualizar"
						(onClick)="update()">
				</dx-button>
				<dx-button
						class="button-info"
						text="Cancelar"
						(onClick)="popupVisible=false">
				</dx-button>
			</div>

		</div>
	</div>
</dx-popup>
