<!-- BEGIN: Subheader -->
<div class="slds-notify_container">
    <ngl-notification *ngIf="alert.show" type="alert" [severity]="alert.severity" (nglNotificationClose)="onClose($event)" timeout="5000" class="slds-theme--alert-texture">
        <h2>{{alert.message}}</h2>
    </ngl-notification>
</div>
<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="#" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a routerLink="/" class="m-nav__link">
						<span class="m-nav__link-text">
							Inicio
						</span>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							boletas
						</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<div class="m-content">
    <div class="row">
        <div class="col-xl-12">
            <!--begin::Portlet-->
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                Boletas de Garantia
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">

                    <!--begin::Section-->
                    <button id="product1"
                            (mouseenter)="defaultVisible=!defaultVisible"
                            (mouseleave)="defaultVisible=!defaultVisible" (click)="nuevo()" type="button" nglButtonIcon >
                        <ngl-icon icon="add"></ngl-icon>
                    </button>
                    <dx-tooltip
                            target="#product1"
                            position="top"
                            [(visible)]="defaultVisible">
                        <dxo-animation>
                            <dxo-show
                                    type="slide"
                                    [from]="{ top: -50, opacity: 0 }"
                                    [to]="{ opacity: 1, top: 0 }"></dxo-show>
                            <dxo-hide
                                    type="pop"
                                    [from]="{ scale: 1, opacity: 1 }"
                                    [to]="{ opacity: 0, scale: 0.1 }"></dxo-hide>
                        </dxo-animation>
                        <div *dxTemplate="let data = data of 'content'">
                            Agregar nueva boleta
                        </div>
                    </dx-tooltip>

                    <div class="m-section__content">
                        <div style="margin: 5px;">
                        <button (click)="mostrarPopup();"
                                [disabled]="actionButtons.ej.disabled"
                                type="button"
                                [nglButton]="'neutral'">
                            <ngl-icon icon="moneybag" align="left"></ngl-icon>Ejecutar
                        </button>
                        <button (click)="renovar();"  [disabled]="actionButtons.re.disabled" type="button" [nglButton]="'neutral'">
                            <ngl-icon icon="replace" align="left"></ngl-icon>Renovar
                        </button>
                        <button (click)="cumplimiento();" [disabled]="actionButtons.cu.disabled" type="button" [nglButton]="'neutral'">
                            <ngl-icon icon="success" align="left"></ngl-icon>Cumplimiento
                        </button>
                        </div>
                        <dx-data-grid
                                id="gridContainer"
                                [dataSource]="boletas"
                                [hoverStateEnabled]="true"
                                [rowAlternationEnabled]="true"
                                [wordWrapEnabled]="true"
                                [allowColumnResizing]="true"
                                (onSelectionChanged)="onSelectionChanged($event)"
                                [masterDetail]="{ enabled: true, template: 'detail' }" columnAutoWidth="false">
                            <dxo-load-panel
                                    [enabled]="true"> <!-- or false | "auto" -->
                            </dxo-load-panel>
                            <dxo-header-filter
                                    [visible]="true"></dxo-header-filter>
                            <dxo-export [enabled]="true" fileName="boletas" [allowExportSelectedData]="true"></dxo-export>
                            <dxo-selection mode="multiple"></dxo-selection>
                            <dxi-column [width]="100" dataField="codigo"></dxi-column>
                            <dxi-column dataField="proveedor" caption="Por Cuenta de" ></dxi-column>
                            <dxi-column dataField="concepto" caption="Objeto de la Garantía" ></dxi-column>
                            <dxi-column dataField="serie" ></dxi-column>
                            <dxi-column dataField="banco" caption="Entidad Emisora" [width]="100">
                                <dxo-lookup
                                        [dataSource]="bancos"
                                        displayExpr="nombre"
                                        valueExpr="id">
                                </dxo-lookup>
                            </dxi-column>
                            <dxi-column dataField="tipo" caption="Tipo de boleta">
                                <dxo-lookup
                                        [dataSource]="tipos"
                                        displayExpr="nombre"
                                        valueExpr="id">
                                </dxo-lookup>
                            </dxi-column>
                            <dxi-column dataField="monto"  valueFormat="currency" currency="Bs" [width]="90"></dxi-column>
                            <dxi-column dataField="fecha_valido" [width]="100" caption="Fecha de Vencimiento" dataType="date" displayFormat="dd/mm/yyyy"></dxi-column>
                            <dxi-column dataField="observaciones" [width]="100" caption="Obs"></dxi-column>
                            <dxi-column alignment="center" [width]="80" dataField="days" caption="Días para vencimiento" cellTemplate="cellTemplate">

                            </dxi-column>
                            <div *dxTemplate="let cell of 'cellTemplate'">
                                <ng-container *ngIf="cell.data.estado<27">
                                <ng-container *ngIf="cell.data.invert==1">
                                    <ngl-badge  type="info">{{ cell.text }} días</ngl-badge>
                                </ng-container>
                                <ng-container *ngIf="cell.data.invert==0">
                                    <ngl-badge *ngIf="cell.value<16" type="error">{{ cell.text }} días</ngl-badge>
                                    <ngl-badge *ngIf="cell.value>=16 && cell.value<20" type="warning">{{ cell.text }} días</ngl-badge>
                                    <ngl-badge *ngIf="cell.value>=20" type="success">{{ cell.text }} días</ngl-badge>
                                </ng-container>
                                </ng-container>
                            </div>
                            <dxi-column dataField="estado" caption="Estado" [width]="100">
                                <dxo-lookup
                                        [dataSource]="estados"
                                        displayExpr="nombre"
                                        valueExpr="id">
                                </dxo-lookup>
                            </dxi-column>
                            <dxi-column [width]="180" dataField="id" caption="Acciones" cellTemplate="cellTemplate1" [allowFiltering]="false">

                            </dxi-column>
                            <div *dxTemplate="let cell of 'cellTemplate1'">
                                <ng-container *ngIf="user.role=='ROLE_ADMIN'">
                                    <button [disabled]="cell.row.data.adjuntos==0" (click)="ver(cell.row.data)" type="button" nglButtonIcon nglPopover="Ver" nglPopoverBehavior nglTooltip nglPopoverDelay="500">
                                        <ngl-icon icon="preview"></ngl-icon>
                                    </button>
                                    <button [disabled]="cell.row.data.estado>=27"  (click)="editar(cell.row.data)" type="button" nglButtonIcon nglPopover="Modificar" nglPopoverBehavior nglTooltip nglPopoverDelay="500">
                                        <ngl-icon icon="edit"></ngl-icon>
                                    </button>
                                    <button [disabled]="cell.row.data.estado>=27" (click)="editable(cell.row.data)" type="button" nglButtonIcon nglPopover="Hacer Editable para usuario" nglPopoverBehavior nglTooltip nglPopoverDelay="500">
                                        <ngl-icon icon="mark_all_as_read"></ngl-icon>
                                    </button>
                                    <button (click)="confirmar(cell.row.data)" type="button" nglButtonIcon nglPopover="Eliminar" nglPopoverBehavior nglTooltip nglPopoverDelay="500">
                                        <ngl-icon icon="delete"></ngl-icon>
                                    </button>
                                </ng-container>
                                <ng-container *ngIf="user.role=='ROLE_USER'">
                                    <button [disabled]="cell.row.data.adjuntos==0" (click)="ver(cell.row.data)" type="button" nglButtonIcon nglPopover="Ver" nglPopoverBehavior nglTooltip nglPopoverDelay="500">
                                        <ngl-icon icon="attach"></ngl-icon>
                                    </button>
                                    <button *ngIf="cell.row.data.editable=='1'" [disabled]="cell.row.data.estado>=27"  (click)="editar(cell.row.data)" type="button" nglButtonIcon nglPopover="Modificar" nglPopoverBehavior nglTooltip nglPopoverDelay="500">
                                        <ngl-icon icon="edit"></ngl-icon>
                                    </button>
                                    <button *ngIf="cell.row.data.editable=='0'" [disabled]="true"  (click)="editar(cell.row.data)" type="button" nglButtonIcon nglPopover="Modificar" nglPopoverBehavior nglTooltip nglPopoverDelay="500">
                                        <ngl-icon icon="edit"></ngl-icon>
                                    </button>
                                    <button [disabled]="true" type="button" nglButtonIcon nglPopover="Editable para usuarios" nglPopoverBehavior nglTooltip nglPopoverDelay="500">
                                        <ngl-icon icon="mark_all_as_read"></ngl-icon>
                                    </button>
                                    <button [disabled]="true" (click)="confirmar(cell.row.data)" type="button" nglButtonIcon nglPopover="Eliminar" nglPopoverBehavior nglTooltip nglPopoverDelay="500">
                                        <ngl-icon icon="delete"></ngl-icon>
                                    </button>
                                </ng-container>
                            </div>
                            <dxo-group-panel
                                    [visible]="true"
                                    [allowColumnDragging]="false">
                            </dxo-group-panel>
                            <dxo-filter-row
                                    [visible]="true"
                                    applyFilter="auto">
                            </dxo-filter-row>
                            <dxo-search-panel
                                    [visible]="true"
                                    [width]="240"
                                    placeholder="Buscar..."></dxo-search-panel>
                            <dxo-paging
                                    [pageSize]="10"
                                    [pageIndex]="0"> <!-- Shows the second page -->
                            </dxo-paging>
                            <div *dxTemplate="let boleta of 'detail'">
                                <ng-container *ngIf="boleta.data.childrens.length>0">
                                    Boleta fue renovada.
                                    <dx-data-grid
                                            [dataSource]="boleta.data.childrens"
                                            [showBorders]="true"
                                            [columnAutoWidth]="true">
                                        <dxi-column dataField="codigo" ></dxi-column>
                                        <dxi-column dataField="concepto" caption="Concepto"></dxi-column>
                                        <dxi-column dataField="proveedor" caption="Proveedor"></dxi-column>
                                        <dxi-column dataField="banco.nombre" caption="Banco"></dxi-column>
                                        <dxi-column dataField="tipo.nombre" caption="Tipo de Boleta"></dxi-column>
                                        <dxi-column dataField="monto"></dxi-column>
                                        <dxi-column dataField="fecha_valido" dataType="date" displayFormat="dd/mm/yyyy"></dxi-column>

                                    </dx-data-grid>
                                </ng-container>

                            </div>
                            <dxo-summary>
                                <dxi-total-item
                                        column="nombre"
                                        summaryType="count"
                                        displayFormat="Total: {0}">
                                </dxi-total-item>
                            </dxo-summary>

                        </dx-data-grid>
                    </div>
                    <!--end::Section-->
                </div>
            </div>
            <!--end::Portlet-->
        </div>
    </div>
</div>
<dx-popup
        class="popup"
        [width]="250"
        [height]="200"
        [showTitle]="true"
        title="Confirme"
        [dragEnabled]="false"
        [closeOnOutsideClick]="true"
        [(visible)]="popupVisible">
    <div *dxTemplate="let data of 'content'">
        <p>Confirme que desea eliminar la boleta con codigo: <b>{{num_boleta}}</b></p>
        <hr>
        <div style="text-align: center;">
            <button type="button" [nglButton]="'neutral'" (click)="popupVisible=false">
                Cancelar
            </button>
            <button type="button" [nglButton]="'destructive'" (click)="eliminar()">
                Eliminar
            </button>
        </div>

    </div>
</dx-popup>
<dx-popup
        class="popup"
        [width]="550"
        [height]="550"
        [showTitle]="true"
        [resizeEnabled]="true"
        [title]="titulo"
        [dragEnabled]="false"
        [closeOnOutsideClick]="false"
        (onHidden)="hidePopup()"
        [(visible)]="popupVisible2">
    <div *dxTemplate="let data of 'content'">
        <form #f="ngForm" action="" method="post" (ngSubmit)="add(f);">
            <dx-form  [colCount]="1"
                     [formData]="employee"
                     validationGroup="groupName">
                <div class="dx-field">
                <dxi-item dataField="hr" helpText="ejemplo: MPD-DGAA-0001/2017">
                    <dxi-validation-rule type="required" message="El campo es requerido"></dxi-validation-rule>
                </dxi-item>
                <dxi-item dataField="fecha" editorType="dxDateBox" [editorOptions]="{ width: '100%' }">
                    <dxi-validation-rule type="required" message="El campo es requerido"></dxi-validation-rule>
                </dxi-item>
                <dxi-item dataField="observaciones" editorType="dxTextArea">
                    <dxi-validation-rule type="required" message="El campo es requerido"></dxi-validation-rule>
                </dxi-item>
                </div>
            </dx-form>
            <ngl-pill (nglPillRemove)="remove(i)" *ngFor="let pill of employee.archivos;let i = index">
                <a href="{{uploadsUrl}}{{pill.uri}}" (click)="showFile(pill)" target="_blank">{{pill.name}}</a>
            </ngl-pill>
            <dx-file-uploader
                    #fileUploader
                    [uploadHeaders]="headers"
                    [uploadUrl]="uploadUrl"
                    [multiple]="false"
                    accept="*"
                    (onProgress)="progress($event)"
                    (onUploaded)="uploaded($event)"
                    (onUploadError)="uploadError($event)"
                    (onValueChanged)="changed($event)"
                    [(value)]="value"
                    labelText="Soltar archivo aqui"
                    selectButtonText="Cargar archivo"
                    uploadMode="instantly">
            </dx-file-uploader>
            <hr>
            <span *ngIf="showFileMaxMessage" style="color: orangered;">El archivo que intentas cargar es demasiado grande...
                <br>
                El límite permitido es de 30Mb.
            </span>
            <div style="text-align: right;">
                <dx-button
                        text="Cancelar"
                        (click)="popupVisible2=false;">
                </dx-button>
                <dx-button
                        text="Guardar"
                        validationGroup="groupName"
                        [useSubmitBehavior]="true">
                </dx-button>

            </div>

        </form>



    </div>
</dx-popup>
<dx-popup
        class="popup"
        [width]="250"
        [height]="200"
        [showTitle]="true"
        title="Confirme"
        [dragEnabled]="false"
        [closeOnOutsideClick]="true"
        [(visible)]="popupEditableVisible">
    <div *dxTemplate="let data of 'content'">
        <p>Confirme que desea habilitar la edición de la  boleta con codigo: <b>{{num_boleta}}</b></p>
        <hr>
        <div style="text-align: center;">
            <button type="button" [nglButton]="'neutral'" (click)="popupEditableVisible=false">
                Cancelar
            </button>
            <button type="button" [nglButton]="'neutral'" (click)="setEditable()">
                Aceptar
            </button>
        </div>

    </div>
</dx-popup>
<dx-popup
        class="popup"
        [width]="400"
        [height]="300"
        [showTitle]="true"
        title="Archivos Adjuntos"
        [resizeEnabled]="true"
        [dragEnabled]="false"
        [closeOnOutsideClick]="false"
        [(visible)]="popupViewVisible">
    <div *dxTemplate="let data of 'content'">
        <ul>
            <li *ngFor="let item of boleta.adjuntos">
                <a href="#" (click)="mostrar(item.uri)">{{item.name}}</a>
            </li>
        </ul>
    </div>
</dx-popup>