<div class="slds-notify_container">
    <ngl-notification *ngIf="showAlert" type="alert" [severity]="type_notif" (nglNotificationClose)="onClose($event)" timeout="5000" class="slds-theme--alert-texture">
        <h3>{{alertMessage}}</h3>
    </ngl-notification>
</div>
<div class="m-content" style="width: 100%;">
    <!--End::Main Portlet-->
    <!--Begin::Main Portlet-->
    <div class="row">
        <div class="col-xl-12">
            <!--begin:: Widgets/Best Sellers-->
            <div class="m-portlet m-portlet--full-height">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                {{titulo}}
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div *ngIf="showCargando">Cargando...<img style="width: 50px" src="./assets/progress.svg" alt=""></div>
                    <form *ngIf="!showCargando" #f="ngForm" (ngSubmit)="onSubmit(f)">
                        <ngl-form-element label="N° de boleta" [error]="codigo.invalid && codigo.touched?'error':null" class="slds-m-top--small">
                            <input nglFormControl type="text" placeholder="número o código de boleta" [required]="true" pattern=".{3,100}" name="codigo" [(ngModel)]="data.codigo" #codigo="ngModel">
                        </ngl-form-element>

                        <ngl-form-element label="N° de Serie" class="slds-m-top--small">
                            <input nglFormControl type="text" placeholder="número de serie" [required]="false" pattern=".{3,100}" name="serie" [(ngModel)]="data.serie" #serie="ngModel">
                        </ngl-form-element>

                        <ngl-form-element label="Tipo de boleta" [error]="tipo.invalid && tipo.touched ? 'error' : null" class="slds-m-top--small">
                            <select [disabled]="renov" nglFormControl class="slds-select" [required]="true" name="tipo" [(ngModel)]="data.tipo" #tipo="ngModel">
                                <option *ngFor="let tipo of tipos" [ngValue]="tipo" >{{tipo.nombre}}</option>
                            </select>
                        </ngl-form-element>

                        <ngl-form-element  label="Beneficiario" [error]="beneficiario.invalid && beneficiario.touched ? 'error' : null" class="slds-m-top--small">
                            <select [disabled]="renov" nglFormControl class="slds-select" [required]="true" name="beneficiario" [(ngModel)]="data.beneficiario" #beneficiario="ngModel">
                                <option *ngFor="let beneficiario of beneficiarios" [ngValue]="beneficiario" >{{beneficiario.nombre}}</option>
                            </select>
                        </ngl-form-element>
                        <ngl-form-element label="Por cuenta de" [error]="proveedor.invalid && proveedor.touched ? 'error' : null" class="slds-m-top--small">
                            <input [disabled]="renov" nglFormControl type="text" placeholder="proveedor" [required]="true" name="proveedor" pattern=".{3,1000}" [(ngModel)]="data.proveedor" #proveedor="ngModel">
                        </ngl-form-element>
                        <ngl-form-element label="Entidad Emisora" [error]="banco.invalid && banco.touched ? 'error' : null" class="slds-m-top--small">
                            <select nglFormControl class="slds-select" [required]="true" name="banco" [(ngModel)]="data.banco" #banco="ngModel">
                                <option *ngFor="let banco of bancos" [ngValue]="banco" >{{banco.nombre}}</option>
                            </select>
                        </ngl-form-element>
                        <a href="javascript:;" style="font-size: small;" (click)="showPopup();">nueva entidad</a>
                        <a href="javascript:;" style="font-size: small;" (click)="showConfirmModal();">quitar entidad</a>
                        <ngl-form-element label="Objeto de la Garantía" [error]="concepto.invalid && concepto.touched ? 'error' : null" class="slds-m-top--small">
                            <input [disabled]="renov" nglFormControl type="text" placeholder="concepto" [required]="true" name="concepto" pattern=".{3,1000}" [(ngModel)]="data.concepto" #concepto="ngModel">
                        </ngl-form-element>

                        <ngl-form-element label="Monto" [error]="monto.invalid && monto.touched && moneda.invalid && moneda.touched ? 'error' : null" class="slds-m-top--small">
                            <input style="width: 200px;" nglFormControl type="text" placeholder="monto" name="monto" [required]="true" pattern="[0-9\.]{1,10}" [(ngModel)]="data.monto" #monto="ngModel">
                            <select style="width: 100px;" nglFormControl class="slds-select" [required]="true" name="moneda" [(ngModel)]="data.moneda" #moneda="ngModel">
                                <option *ngFor="let moneda of monedas" [ngValue]="moneda" >{{moneda.nombre}}</option>
                            </select>
                        </ngl-form-element>
                        <br>
                        <div class="slds-text-title slds-m-bottom--small">Fecha de Vencimiento</div>
                        <div class="dx-field">
                            <div>
                                <dx-date-box
                                        [(value)]="data.fecha_valido"
                                        type="date"
                                        displayFormat="dd/MM/yyyy">
                                </dx-date-box>
                            </div>
                        </div>
                            <ngl-form-element label="Observaciones" class="slds-m-top--small">
                                <textarea nglFormControl placeholder="observaciones" [required]="false" name="obs" [(ngModel)]="data.observaciones" #observaciones="ngModel"></textarea>
                            </ngl-form-element>
                        <ngl-pill (nglPillRemove)="removeAdj(i)" *ngFor="let pill of data.archivo;let i = index">
                            <a href="{{uploadsUrl}}{{pill.uri}}" (click)="showFile(pill)" target="_blank">{{pill.name}}</a>
                        </ngl-pill>
                        <div class="dx-field">
                            <div>

                                <div id="fileuploader-container">
                                    <dx-file-uploader
                                            #fileUploader
                                            [uploadHeaders]="headers"
                                            [uploadUrl]="uploadUrl"
                                            [multiple]="true"
                                            accept="*"
                                            [(value)]="value"
                                            (onProgress)="progress($event)"
                                            (onUploaded)="uploaded($event)"
                                            (onUploadError)="uploadError($event)"
                                            (onValueChanged)="changed($event)"
                                            labelText="Soltar archivo aqui"
                                            selectButtonText="Cargar archivo"
                                            uploadMode="instantly">
                                    </dx-file-uploader>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" nglButton="neutral" (click)="volver();">Cancelar</button>
                            <button [disabled]="!f.valid" type="submit" nglButton="brand">Guardar</button>
                        </div>

                    </form>
                </div>

            </div>
            <!--end:: Widgets/Best Sellers-->
        </div>

    </div>
    <!--End::Main Portlet-->
</div>

<ngl-modal [header]="'Confirme'" [(open)]="opened">
    <div body>
        <p>{{text}}.<img *ngIf="showProgress" style="width: 50px" src="./assets/progress.svg" alt=""></p>
    </div>
    <ng-template ngl-modal-footer *ngIf="!showProgress">
        <button class="slds-button slds-button--neutral" (click)="cancel()">Cancelar</button>
        <button (click)="sendData()" class="slds-button slds-button--brand">Aceptar</button>
    </ng-template>
</ngl-modal>
<ngl-modal [header]="'Confirme'" [(open)]="confirmModal">
    <div body>
        <p>{{text}}.<img *ngIf="showProgress" style="width: 50px" src="./assets/progress.svg" alt=""></p>
    </div>
    <ng-template ngl-modal-footer *ngIf="!showProgress">
        <button class="slds-button slds-button--neutral" (click)="confirmModal=false;">Cancelar</button>
        <button (click)="deleteEntidad()" class="slds-button slds-button--brand">Aceptar</button>
    </ng-template>
</ngl-modal>
<dx-popup
        class="popup"
        [width]="450"
        [height]="180"
        [showTitle]="true"
        title="Nueva entidad emisora"
        [dragEnabled]="false"
        [closeOnOutsideClick]="true"
        [(visible)]="popupVisible">
    <div *dxTemplate="let data of 'content'">
        <form #f="ngForm" action="" method="post" (ngSubmit)="addEntidad(f);">
            <dx-form  [colCount]="1"
                      [formData]="entidad"
                      validationGroup="groupName">
                <div class="dx-field">
                    <dxi-item dataField="nombre" [caption]="'Nombre de la entidad'" helpText="Banco union">
                        <dxi-validation-rule type="required" message="El campo es requerido"></dxi-validation-rule>
                    </dxi-item>
                </div>
            </dx-form>

            <div style="text-align: right;" >
                <dx-button
                        text="Cancelar"
                        (click)="popupVisible=false;">
                </dx-button>
                <dx-button
                        text="Guardar"
                        validationGroup="groupName"
                        [useSubmitBehavior]="true">
                </dx-button>

            </div>

        </form>
    </div>
</dx-popup>
