<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="#" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a routerLink="/" class="m-nav__link">
						<span class="m-nav__link-text">
							Inicio
						</span>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							Reportes
						</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<div class="m-content">
    <div class="row">
        <div class="col-xl-12">
            <!--begin::Portlet-->
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                Boletas de Garantia - Reportes
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <span style="color:#999999;" *ngFor="let item of pick">
                        {{item.nombre}},
                    </span><br>
                    <ngl-picklist [data]="items" [(nglPick)]="pick" [(open)]="open" [nglPickMultiple]="true" filter="nombre">
                        <span class="slds-truncate">Seleccione</span>
                        <ng-template nglPicklistItem let-item>{{item.nombre}}</ng-template>
                    </ngl-picklist>
                    <select [(ngModel)]="moneda" style="width: 100px;" nglFormControl class="slds-select">
                        <option *ngFor="let moneda of monedas"  [ngValue]="moneda" >{{moneda.nombre}}</option>
                    </select>
                    <button (click)="report()" type="button" nglButtonIcon >
                        <ngl-icon icon="share_file"></ngl-icon>
                    </button>
                    <!--end::Section-->
                </div>
            </div>
            <!--end::Portlet-->
        </div>
    </div>
</div>
