<!-- END: Subheader -->
<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="#" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a routerLink=" /" class="m-nav__link">
						<span class="m-nav__link-text">
							Inicio
						</span>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a routerLink="/identificadas" class="m-nav__link">
						<span class="m-nav__link-text">
							identificadas -
						</span>
                    </a>
                </li>
                <li class="m-nav__item">
                    <a href="javascript:;" class="m-nav__link">
						<span class="m-nav__link-text">
							detalle
						</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="m-content">
    <!--End::Main Portlet-->

    <!--Begin::Main Portlet-->
    <div class="row">
        <div class="col-xl-12">
            <!--begin:: Widgets/Best Sellers-->
            <div class="m-portlet m-portlet--full-height">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                Detalles de empresa
                            </h3>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push"
                                data-dropdown-toggle="hover">
                                <a href="#"
                                   class="m-portlet__nav-link m-dropdown__toggle dropdown-toggle btn btn--sm m-btn--pill btn-secondary m-btn m-btn--label-brand">
                                    Acciones
                                </a>
                                <div class="m-dropdown__wrapper">
                                    <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                                    <div class="m-dropdown__inner">
                                        <div class="m-dropdown__body">
                                            <div class="m-dropdown__content">
                                                <ul class="m-nav">
                                                    <li class="m-nav__section m-nav__section--first">
														<span class="m-nav__section-text">
															Acciones rapidas
														</span>
                                                    </li>
                                                    <li class="m-nav__item">
                                                        <a href="" class="m-nav__link">
                                                            <i class="m-nav__link-icon flaticon-share"></i>
                                                            <span class="m-nav__link-text">
																Imprimir
															</span>
                                                        </a>
                                                    </li>
                                                    <li class="m-nav__item">
                                                        <a href="" class="m-nav__link">
                                                            <i class="m-nav__link-icon flaticon-share"></i>
                                                            <span class="m-nav__link-text">
																Exportar
															</span>
                                                        </a>
                                                    </li>

                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <!--begin::Content-->
                    <div class="tab-content">
                        <div class="tab-pane active" id="m_widget5_tab1_content" aria-expanded="true">
                            <!--begin::m-widget5-->
                            <div class="m-widget5">


                                <table class="table table-striped m-table">
                                    <tr>
                                        <td>Empresa</td>
                                        <td>{{empresa.nombre}}</td>
                                    </tr>
                                    <tr>
                                        <td>Estado</td>
                                        <td>{{empresa.estado}}</td>
                                    </tr>
                                    <tr>
                                        <td>Nit</td>
                                        <td>{{empresa.nit}}</td>
                                    </tr>
                                    <tr>
                                        <td>Tipo de empresa</td>
                                        <td>{{empresa.tipo}}</td>
                                    </tr>
                                    <tr>
                                        <td>Rubro</td>
                                        <td>{{empresa.rubro}}</td>
                                    </tr>
                                    <tr>
                                        <td>Departamento</td>
                                        <td>{{empresa.departamento}}</td>
                                    </tr>
                                    <tr>
                                        <td>Dirección</td>
                                        <td>{{empresa.direccion}}</td>
                                    </tr>
                                    <tr>
                                        <td>Sucursales</td>
                                        <td>
                                            <table>
                                                <tr>
                                                    <th>N°</th>
                                                    <th>Departamento</th>
                                                </tr>
                                                <tr *ngFor="let item of empresa.sucursales; let i=index">
                                                    <td>{{i+1}}</td>
                                                    <td>{{item.nombre}}</td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Contactos</td>
                                        <td>
                                            <table>
                                                <tr>
                                                    <th>N°</th>
                                                    <th>Nombre</th>
                                                    <th>Teléfono</th>
                                                    <th>email</th>
                                                </tr>
                                                <tr *ngFor="let item of empresa.contactos; let i=index">
                                                    <td>{{i+1}}</td>
                                                    <td style="text-align:center;">{{item.nombre}} <br><cite>{{item.cargo}}</cite></td>
                                                    <td>{{item.telefono}}</td>
                                                    <td>{{item.email}}</td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Enlace a cargo</td>
                                        <td>{{empresa.enlace}}</td>
                                    </tr>
                                    <tr>
                                        <td>Fecha primer contacto</td>
                                        <td>{{empresa.fecha_primer_contacto}}</td>
                                    </tr>
                                    <tr>
                                        <td>Tipo de primer contacto</td>
                                        <td>{{empresa.tipo_contacto}}</td>
                                    </tr>
                                    <tr>
                                        <td>Fecha presentación</td>
                                        <td>{{empresa.fecha_presentacion}}</td>
                                    </tr>
                                    <tr>
                                        <td>Fecha de registro</td>
                                        <td>{{empresa.fecha_registro}}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">Convenio</td>
                                    </tr>
                                    <tr>
                                        <td>Responsable</td>
                                        <td>{{convenio.responsable}}</td>
                                    </tr>
                                    <tr>
                                        <td>Fecha</td>
                                        <td>{{convenio.fecha}}</td>
                                    </tr>
                                    <tr>
                                        <td>Documentos de convenio</td>
                                        <td>
                                            <table>
                                                <tr>
                                                    <th>N°</th>
                                                    <th>Nombre de documento</th>
                                                </tr>
                                                <tr *ngFor="let item of empresa.convenio; let i=index">
                                                    <td>{{i+1}}</td>
                                                    <td><a href="#" (click)="openLink(item.uri)">{{item.name}}</a></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>

                            </div>
                            <!--end::m-widget5-->
                        </div>
                    </div>
                    <!--end::Content-->
                </div>
            </div>
            <!--end:: Widgets/Best Sellers-->
        </div>

    </div>
    <!--End::Main Portlet-->
</div>