<div class="slds-notify_container">
    <ngl-notification *ngIf="showAlert" type="alert" severity="error" (nglNotificationClose)="onClose($event)" timeout="5000" class="slds-theme--alert-texture">
        <h3>{{alertMessage}}</h3>
    </ngl-notification>
</div>
<div class="m-content" style="width: 100%;">
    <!--End::Main Portlet-->
    <!--Begin::Main Portlet-->
    <div class="row">
        <div class="col-xl-12">
            <!--begin:: Widgets/Best Sellers-->
            <div class="m-portlet m-portlet--full-height">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                Ejecución de Boleta de garantia
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body col-xl-6">
                    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
                        <ngl-form-element label="Hoja de Ruta" [error]="codigo.invalid && codigo.touched?'error':null" class="slds-m-top--small">
                            <input nglFormControl type="text" placeholder="número o código de boleta" [required]="true" pattern=".{3,100}" name="codigo" [(ngModel)]="data.codigo" #codigo="ngModel">
                        </ngl-form-element>

                        <ngl-form-element label="Observaciones" class="slds-m-top--small">
                            <textarea nglFormControl placeholder="observaciones" [required]="false" name="obs" [(ngModel)]="data.observaciones"></textarea>
                        </ngl-form-element>
                        <div class="slds-text-title slds-m-bottom--small">Fecha</div>
                        <div class="dx-field">
                            <div>
                                <dx-date-box
                                        [(value)]="data.fecha"
                                        type="date"
                                        displayFormat="dd/MM/yyyy">
                                </dx-date-box>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" nglButton="neutral" (click)="volver();">Cancelar</button>
                            <button [disabled]="!f.valid" type="submit" nglButton="brand">Guardar</button>
                        </div>

                    </form>
                </div>

            </div>
            <!--end:: Widgets/Best Sellers-->
        </div>

    </div>
    <!--End::Main Portlet-->
</div>

<ngl-modal [header]="'Confirme'" [(open)]="opened">
    <div body>
        <p>{{text}}.<img *ngIf="showProgress" style="width: 50px" src="./assets/progress.svg" alt=""></p>
    </div>
    <ng-template ngl-modal-footer *ngIf="!showProgress">
        <button class="slds-button slds-button--neutral" (click)="cancel()">Cancelar</button>
        <button (click)="sendData()" class="slds-button slds-button--brand">Aceptar</button>
    </ng-template>
</ngl-modal>
