<ngl-modal #modal1 [header]="'Nuevo contacto'" [(open)]="openedModal">
    <div body>
                <ngl-form-element label="Nombre" [error]="!v.nombre?'error':null" class="slds-m-top--small">
                    <input (keyup)="verifyText(contacto.nombre);" nglFormControl type="text" placeholder="nombre" [(ngModel)]="contacto.nombre">
                </ngl-form-element>
                <ngl-form-element label="Cargo" [error]="null" class="slds-m-top--small">
                    <select nglFormControl class="slds-select"  [(ngModel)]="contacto.cargo_selected" (change)="verifyCargo(contacto.cargo_selected);">
                        <option *ngFor="let cargo of contacto.cargo" [ngValue]="cargo" >{{cargo.nombre}}</option>
                    </select>
                </ngl-form-element>
                <ngl-form-element label="Teléfono" [error]="!v.telefono?'error':null" class="slds-m-top--small">
                    <input nglFormControl type="text" placeholder="telefono"  [(ngModel)]="contacto.telefono" (keyup)="verifyTelefono(contacto.telefono);">
                </ngl-form-element>
                <ngl-form-element label="Email" [error]="!v.email?'error':null" class="slds-m-top--small">
                    <input nglFormControl type="email" placeholder="email"  [(ngModel)]="contacto.email" (keyup)="verifyEmail(contacto.email);">
                </ngl-form-element>
    </div>
    <ng-template ngl-modal-footer>
        <button class="slds-button slds-button--neutral" (click)="cancelModal()">Cancelar</button>
        <button [disabled]="!v.veriry"  class="slds-button slds-button--brand" (click)="add()">Agregar</button>
    </ng-template>
</ngl-modal>
