    <!-- BEGIN: Subheader -->

    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h3 class="m-subheader__title ">
                    Dashboard
                </h3>
            </div>
        </div>
    </div>
    <!-- END: Subheader -->
    <div class="m-content">
        <!--Begin::Main Portlet-->
        <div class="row">
            <div class="col-xl-4">
                <!--begin:: Widgets/Sales Stats-->
                <div class="m-portlet m-portlet--bordered-semi m-portlet--full-height">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                    Boletas de Garantía
                                </h3>
                            </div>
                        </div>

                    </div>
                    <div class="m-portlet__body">
                        <!--begin::Widget 6-->
                        <div class="m-widget15">

                                <dx-pie-chart
                                        id="pie"
                                        type="doughnut"
                                        palette="Soft Pastel"
                                        [dataSource]="populationByRegions">
                                    <dxo-legend
                                            horizontalAlignment="center"
                                            verticalAlignment="bottom">
                                    </dxo-legend>
                                    <dxi-series
                                            argumentField="title">
                                        <dxo-label
                                                [visible]="true"
                                                [customizeText]="customizeText">
                                            <dxo-connector [visible]="true"></dxo-connector>
                                        </dxo-label>
                                    </dxi-series>
                                    <dxo-export [enabled]="false"></dxo-export>
                                    <dxo-tooltip
                                            [enabled]="true"
                                            [customizeTooltip]="customizeTooltip">
                                    </dxo-tooltip>
                                </dx-pie-chart>
                        </div>
                        <!--end::Widget 6-->
                    </div>
                </div>
                <!--end:: Widgets/Sales Stats-->
            </div>
            <div class="col-xl-4">
                <!--begin:: Widgets/Inbound Bandwidth-->
                <div class="m-portlet m-portlet--bordered-semi m-portlet--half-height m-portlet--fit" style="min-height: 300px">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                    Estado de Boletas de Garantía
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <!--begin::Widget5-->
                        <div class="m-widget20">
                            <div class="m-widget20__number m--font-success">
                                {{total}} <span style="font-size:18px;color:#999999;">boletas</span>
                            </div>
                            <div class="m-widget20__chart" style="height:200px;padding: 30px;">
                                <div class="row">
                                    <div class="col">
                                        <div class="m-widget15__item">
															<span class="m-widget15__stats">
																{{color[1].total}}
															</span>
                                            <span class="m-widget15__text">
																,menor a 16 días
															</span>
                                            <div class="m--space-10"></div>
                                            <div class="progress m-progress--sm">
                                                <div class="progress-bar bg-danger" role="progressbar" [style.width.%]="color[1].p" aria-valuenow="5" aria-valuemin="0" aria-valuemax="5"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="m-widget15__item">
															<span class="m-widget15__stats">
																{{color[2].total}}
															</span>
                                            <span class="m-widget15__text">
																,entre 16 y 20 días
															</span>
                                            <div class="m--space-10"></div>
                                            <div class="progress m-progress--sm">
                                                <div class="progress-bar bg-warning" role="progressbar" [style.width.%]="color[2].p" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col">
                                        <div class="m-widget15__item">
															<span class="m-widget15__stats">
																{{color[3].total}}
															</span>
                                            <span class="m-widget15__text">
																,mayor a 20 días
															</span>
                                            <div class="m--space-10"></div>
                                            <div class="progress m-progress--sm">
                                                <div class="progress-bar bg-success" role="progressbar" [style.width.%]="color[3].p" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="m-widget15__item">
															<span class="m-widget15__stats">
																{{color[0].total}}
															</span>
                                            <span class="m-widget15__text">
																,vencidas
															</span>
                                            <div class="m--space-10"></div>
                                            <div class="progress m-progress--sm">
                                                <div class="progress-bar bg-default" role="progressbar" [style.width.%]="color[0].p" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!--end::Widget 5-->
                    </div>
                </div>
                <!--end:: Widgets/Inbound Bandwidth-->
                <div class="m--space-30"></div>
                <!--begin:: Widgets/Outbound Bandwidth-->

                <!--end:: Widgets/Outbound Bandwidth-->
            </div>
            <div class="col-xl-4">
                <!--begin:: Widgets/Top Products-->
                <div class="m-portlet m-portlet--full-height m-portlet--fit">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                    Boletas por vencer
                                </h3>
                            </div>
                        </div>
                        <div class="m-portlet__head-tools">
                            <ul class="m-portlet__nav">
                                <li class="m-portlet__nav-item m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="hover" aria-expanded="true">
                                    <a href="#" class="m-portlet__nav-link m-dropdown__toggle dropdown-toggle btn btn--sm m-btn--pill btn-secondary m-btn m-btn--label-brand">
                                        Opciones
                                    </a>
                                    <div class="m-dropdown__wrapper">
                                        <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust" style="left: auto; right: 36.5px;"></span>
                                        <div class="m-dropdown__inner">
                                            <div class="m-dropdown__body">
                                                <div class="m-dropdown__content">
                                                    <ul class="m-nav">
                                                        <li class="m-nav__item">
                                                            <a href="" class="m-nav__link" (click)="getBoletas(0)">
                                                                <i class="m-nav__link-icon flaticon-time-3  m--font-danger"></i>
                                                                <span class="m-nav__link-text">
																    menor a 16 días
																</span>
                                                            </a>
                                                        </li>
                                                        <li class="m-nav__item">
                                                            <a href="" class="m-nav__link"  (click)="getBoletas(1)">
                                                                <i class="m-nav__link-icon flaticon-time-3  m--font-warning"></i>
                                                                <span class="m-nav__link-text">
																    entre 16 y 20 días
																</span>
                                                            </a>
                                                        </li>
                                                        <li class="m-nav__item">
                                                            <a href="" class="m-nav__link"  (click)="getBoletas(2)">
                                                                <i class="m-nav__link-icon flaticon-time-3  m--font-success"></i>
                                                                <span class="m-nav__link-text">
																					mayor a 20 días
																</span>
                                                            </a>
                                                        </li>
                                                        <li class="m-nav__item">
                                                            <a href="" class="m-nav__link"  (click)="getBoletas(3)">
                                                                <i class="m-nav__link-icon flaticon-time-3  m--font-default"></i>
                                                                <span class="m-nav__link-text">
																					vencidas
																</span>
                                                            </a>
                                                        </li>

                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <!--begin::Widget5-->
                        <div class="m-widget4 m-widget4--chart-bottom" style="min-height: 480px">
                            <ng-container *ngIf="por_vencer.length>0">
                            <div *ngFor="let item of por_vencer" class="m-widget4__item">
                                <div class="m-widget4__img m-widget4__img--logo">
                                    <img src="assets/app/media/img/client-logos/logo3.png" alt="">
                                </div>
                                <div class="m-widget4__info">
													<span class="m-widget4__title">
														{{item.codigo}}
													</span>
                                    <br>
                                    <span class="m-widget4__sub">
														{{item.concepto}} - {{item.monto|currency:'BOB'}}
													</span>
                                </div>
                                <span class="m-widget4__ext">
													<span class="m-widget4__number" [ngClass]="{'m--font-danger':item.dias<16,'m--font-warning':item.dias>15 && item.dias<=20,'m--font-success':item.dias>20,'m--font-default':item.dias<0}">
														<div style="font-size: 10px;color:#999999;width:50px;">vence en</div>
                                                        <div style="text-align: center;">{{item.dias}}</div>
                                                        <div style="text-align: center;font-size: 10px;color:#999999;">días</div>
													</span>
												</span>
                            </div>
                            </ng-container>
                            <ng-container *ngIf="por_vencer.length==0">
                                No existen boletas...
                            </ng-container>
                        </div>
                        <!--end::Widget 5-->
                    </div>
                </div>
                <!--end:: Widgets/Top Products-->
            </div>
        </div>
        <!--End::Main Portlet-->
        <!--End::Main Portlet-->
    </div>