<!-- Modal -->
<ngl-modal #modal [header]="'Confirme'" [(open)]="opened">
    <div body>
        <p>{{text}}.<img *ngIf="showProgress" style="width: 50px" src="./assets/progress.svg" alt=""></p>
    </div>
    <ng-template ngl-modal-footer *ngIf="!showProgress">
        <button class="slds-button slds-button--neutral" (click)="cancel()">Cancelar</button>
        <button (click)="sendData()" class="slds-button slds-button--brand">Aceptar</button>
    </ng-template>
</ngl-modal>
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{title}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div *ngIf="showCargando">Cargando...<img style="width: 50px" src="./assets/progress.svg" alt=""></div>
                <form *ngIf="!showCargando" #f="ngForm" (ngSubmit)="onSubmit(f)">
                <div class="m-portlet__body">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#m_tabs_1_1">
                                Empresa
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#m_tabs_1_2">
                                Ubicación
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#m_tabs_1_3">
                                Contacto
                            </a>
                        </li>
                    </ul>

                        <div class="tab-content">
                        <div class="tab-pane active" id="m_tabs_1_1" role="tabpanel">
                            {{f.valid}}
                            <ngl-form-element label="Nombre de la empresa" [error]="nombre.invalid && nombre.touched?'error':null" class="slds-m-top--small">
                                <input nglFormControl type="text" placeholder="nombre de la empresa" [required]="true" pattern=".{3,100}" name="nombre" [(ngModel)]="data.nombre" #nombre="ngModel">
                            </ngl-form-element>
                            <ngl-form-element label="Estado" [error]="estado.invalid && estado.touched ? error : null" class="slds-m-top--small">
                                <select nglFormControl class="slds-select" [required]="true" name="estado" [(ngModel)]="data.estado" #estado="ngModel">
                                    <option *ngFor="let estado of estados" [ngValue]="estado" >{{estado.nombre}}</option>
                                </select>
                            </ngl-form-element>
                            <ngl-form-element label="NIT" [error]="nit.invalid && nit.touched ? 'error' : null" class="slds-m-top--small">
                                <input nglFormControl type="text" placeholder="nit" [required]="true" name="nit" pattern="[0-9]{10,15}" [(ngModel)]="data.nit" #nit="ngModel">
                            </ngl-form-element>
                             <ngl-form-element label="Tipo de empresa" [error]="tipo.invalid && tipo.touched ? error : null" class="slds-m-top--small">
                                    <select nglFormControl class="slds-select" [required]="true" name="tipo" [(ngModel)]="data.tipo" #tipo="ngModel">
                                        <option *ngFor="let tipo of tipos" [ngValue]="tipo" >{{tipo.nombre}}</option>
                                    </select>
                             </ngl-form-element>
                            <div class="slds-text-title--caps slds-m-bottom--small">Rubro</div>
                             <ngl-lookup id="_rubro" [lookup]="lookup" field="nombre" [(pick)]="rubro"></ngl-lookup>
                        </div>
                        <div class="tab-pane" id="m_tabs_1_2" role="tabpanel">
                            <ngl-form-element label="Departamento" [error]="hasError ? 'error' : null" class="slds-m-top--small">
                                <select nglFormControl class="slds-select" [required]="true" name="departamento" [(ngModel)]="data.departamento">
                                    <option *ngFor="let departamento of departamentos" [ngValue]="departamento" >{{departamento.nombre}}</option>
                                </select>
                            </ngl-form-element>
                            <ngl-form-element label="Dirección" [error]="direccion.invalid && direccion.touched ? error : null" class="slds-m-top--small">
                                <input nglFormControl type="text" placeholder="dirección" [required]="true" name="direccion" pattern=".{3,100}" [(ngModel)]="data.direccion" #direccion="ngModel">
                            </ngl-form-element>
                            sucursales agregar

                        </div>
                        <div class="tab-pane" id="m_tabs_1_3" role="tabpanel">
                            <button [disabled]="contactos.length>2"  (click)="showContactosModal()" type="button" nglButtonIcon >
                                <ngl-icon icon="add"></ngl-icon>
                            </button>

                            <div *ngFor="let contacto of contactos">
                                ccc

                            </div>


                            <ngl-form-element label="Nombre de contacto" [error]="hasError ? 'error' : null" class="slds-m-top--small">
                                <input nglFormControl type="text" placeholder="nombre de contacto" [required]="false" name="nombre-contacto" [(ngModel)]="data.nombre_contacto">
                            </ngl-form-element>
                            <ngl-form-element label="Teléfono" [error]="telefono.invalid && telefono.touched ? 'error' : null" class="slds-m-top--small">
                                <input nglFormControl type="text" placeholder="teléfono" [required]="false" name="telefono" pattern="[1-9][0-9]{4,15}" [(ngModel)]="data.telefono" #telefono="ngModel">
                            </ngl-form-element>
                            <ngl-form-element label="Correo electrónico" [error]="email.invalid && email.touched ? 'error' : null" class="slds-m-top--small">
                                <input nglFormControl type="email" placeholder="Correo electrónico" [required]="false" name="email" pattern="[A-Za-z0-9_\.-]{3,50}@[A-Za-z0-9_\.-]{2,50}\.[A-Za-z0-9_\.-]{2,5}" [(ngModel)]="data.email" #email="ngModel">
                            </ngl-form-element>

                            <ngl-form-element label="Enlace a cargo" [error]="hasError ? 'error' : null" class="slds-m-top--small">
                                <select nglFormControl class="slds-select" [required]="false" name="enlace" [(ngModel)]="data.enlace">
                                    <option *ngFor="let enlace of enlaces" [ngValue]="enlace" >{{enlace.nombre}}</option>
                                </select>
                            </ngl-form-element>

                            <ngl-form-element label="Observaciones" [error]="hasError ? 'error' : null" class="slds-m-top--small">
                                <textarea nglFormControl placeholder="observaciones" [required]="false" name="obs" [(ngModel)]="data.observaciones"></textarea>
                            </ngl-form-element>
                        </div>
                   </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button [disabled]="!f.valid" type="submit" class="btn btn-primary">Guardar</button>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
