<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-grid--tablet-and-mobile m-grid--hor-tablet-and-mobile 		m-login m-login--1 m-login--singin" id="m_login">
	<div class="m-grid__item m-grid__item--order-tablet-and-mobile-2 m-login__aside">
		<div class="m-stack m-stack--hor m-stack--desktop">
			<div class="m-stack__item m-stack__item--fluid">
				<div class="m-login__wrapper">
					<div class="m-login__logo">
						<a href="#">
							<img style="width: 100px;" src="./assets/calendar.svg">
						</a>
					</div>
					<div class="m-login__signin">
						<div class="m-login__head">
							<h3 class="m-login__title">
								Recuperar contraseña
							</h3>
						</div>
						<form (ngSubmit)="f.form.valid && enviar()" #f="ngForm" class="m-login__form m-form" action="">
							<ng-template #alertSignin></ng-template>
							<div class="form-group m-form__group">
								<input class="form-control m-input m-login__form-input--last" type="password" placeholder="Contraseña" name="password" [(ngModel)]="model.password" #password="ngModel">
							</div>
							<div class="form-group m-form__group">
								<input class="form-control m-input m-login__form-input--last" type="password" placeholder="Confirmar Contraseña" name="password2" [(ngModel)]="model.password2" #password2="ngModel">
							</div>
							<div class="m-login__form-action">
								<button id="m_login_signin_submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air">
									Enviar
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>

		</div>
	</div>
	<div class="m-grid__item m-grid__item--fluid m-grid m-grid--center m-grid--hor m-grid__item--order-tablet-and-mobile-1	m-login__content" style="background-image: url('./assets/app/media/img/bg/bg-4.jpg')">
		<div class="m-grid__item m-grid__item--middle">
			<h3 class="m-login__welcome">
				<img src="./assets/app/media/img//bg/logo_2x.png" alt="">
			</h3>
			<p class="m-login__msg">

			</p>
		</div>
	</div>
</div>
<dx-toast
		[(visible)]="isVisible"
		displayTime="2000"
		[message]="message"
		(onHidden)="onHidden($event)"
		[type]="type">
</dx-toast>