<!-- BEGIN: Subheader -->

<ngl-modal [header]="'Cambiar estado'" [(open)]="opened">
    <div body>
        <div class="slds-text-title--caps slds-m-bottom--small">Seleccione estado</div>

        <div [(nglPick)]="estado_selected" nglPickActiveClass="slds-button--brand" class="slds-button-group" role="group">
            <button *ngFor="let estado of estados" type="button" nglButton="neutral" nglPickOption="{{estado.id}}">{{estado.nombre}}</button>

        </div>
        <div *ngIf="showProgress">Enviando...<img  style="width: 50px" src="./assets/progress.svg" alt=""></div>
    </div>
    <ng-template ngl-modal-footer >
        <button class="slds-button slds-button--neutral" (click)="cancel()">Cancelar</button>
        <button class="slds-button slds-button--brand" (click)="guardar()">Guardar</button>
    </ng-template>
</ngl-modal>
<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Empresas
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="#" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a href="/" class="m-nav__link">
						<span class="m-nav__link-text">
							Inicio
						</span>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							empresas
						</span>
                    </a>
                </li>
            </ul>
        </div>
        <div>
            <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="hover" aria-expanded="true">
                <a href="#" class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--outline-2x m-btn--air m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
                    <i class="la la-plus m--hide"></i>
                    <i class="la la-ellipsis-h"></i>
                </a>
                <div class="m-dropdown__wrapper">
                    <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                    <div class="m-dropdown__inner">
                        <div class="m-dropdown__body">
                            <div class="m-dropdown__content">
                                <ul class="m-nav">
                                    <li class="m-nav__section m-nav__section--first m--hide">
										<span class="m-nav__section-text">
											Quick Actions
										</span>
                                    </li>
                                    <li class="m-nav__item">
                                        <a href="" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-share"></i>
                                            <span class="m-nav__link-text">
												Activity
											</span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item">
                                        <a href="" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-chat-1"></i>
                                            <span class="m-nav__link-text">
												Messages
											</span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item">
                                        <a href="" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-info"></i>
                                            <span class="m-nav__link-text">
												FAQ
											</span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item">
                                        <a href="" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-lifebuoy"></i>
                                            <span class="m-nav__link-text">
												Support
											</span>
                                        </a>
                                    </li>
                                    <li class="m-nav__separator m-nav__separator--fit"></li>
                                    <li class="m-nav__item">
                                        <a href="#" class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">
                                            Submit
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<div class="m-content">
    <div class="row">
        <div class="col-xl-12">
            <!--begin::Portlet-->
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                Empresas
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <!--begin::Section-->
                    <div class="m-section__content">
                        <dx-data-grid
                                id="gridContainer"
                                [dataSource]="empresas"
                                [masterDetail]="{ enabled: true, template: 'detail' }">
                            <dxi-column dataField="nombre"></dxi-column>
                            <dxi-column dataField="nit"></dxi-column>
                            <dxi-column dataField="enlace" caption="Enlace">
                            <dxo-lookup
                                    [dataSource]="enlaces"
                                    displayExpr="nombre"
                                    valueExpr="id">
                            </dxo-lookup>
                            </dxi-column>
                            <dxi-column dataField="departamento" caption="departamentos">
                                <dxo-lookup
                                        [dataSource]="departamentos"
                                        displayExpr="nombre"
                                        valueExpr="id">
                                </dxo-lookup>
                            </dxi-column>
                            <dxi-column dataField="tipo" caption="Tipo de empresa">
                                <dxo-lookup
                                        [dataSource]="tipos"
                                        displayExpr="nombre"
                                        valueExpr="id">
                                </dxo-lookup>
                            </dxi-column>
                            <dxi-column dataField="estado" [calculateCellValue]="cellVal" cellTemplate="cellTemplate">
                                <dxo-lookup
                                        [dataSource]="estados"
                                        displayExpr="nombre"
                                        valueExpr="id">
                                </dxo-lookup>
                            </dxi-column>
                            <div *dxTemplate="let cell of 'cellTemplate'">
                                <ngl-badge *ngIf="cell.value=='1'">{{ cell.text }}</ngl-badge>
                                <ngl-badge *ngIf="cell.value=='2'" type="warning">{{ cell.text }}</ngl-badge>
                                <ngl-badge *ngIf="cell.value=='3'" type="success">{{ cell.text }}</ngl-badge>

                            </div>
                            <dxi-column dataField="id" caption="Acciones" cellTemplate="cellTemplate1">

                            </dxi-column>
                            <div *dxTemplate="let cell of 'cellTemplate1'">
                                <button (click)="cambiar(cell.row.data)" type="button" nglButtonIcon nglPopover="Cambiar de estado" nglPopoverBehavior nglTooltip nglPopoverDelay="500">
                                    <ngl-icon icon="mark_all_as_read"></ngl-icon>
                                </button>
                                <button type="button" nglButtonIcon nglPopover="Agregar empleado" nglPopoverBehavior nglTooltip nglPopoverDelay="500">
                                    <ngl-icon icon="user"></ngl-icon>
                                </button>
                            </div>

                            <dxo-group-panel
                                    [visible]="true"
                                    [allowColumnDragging]="false">
                            </dxo-group-panel>
                            <dxo-filter-row
                                    [visible]="true"
                                    applyFilter="auto">
                            </dxo-filter-row>
                            <dxo-search-panel
                                    [visible]="true"
                                    [width]="240"
                                    placeholder="Buscar..."></dxo-search-panel>
                            <dxo-paging
                                    [pageSize]="10"
                                    [pageIndex]="0"> <!-- Shows the second page -->
                            </dxo-paging>
                            <div *dxTemplate="let empresa of 'detail'">
                                <div class="internal-grid-container">
                                    <div>Empresa: {{empresa.data.nombre}} Rubro: {{empresa.data.rubro}}</div>
                                    <dx-data-grid class="internal-grid"
                                                  [dataSource]="empresa.data.contacto"
                                                  [showBorders]="true"
                                                  [columnAutoWidth]="true"
                                                  [columns]="['nombre', 'email', 'telefono', 'medio_contacto']">
                                    </dx-data-grid>
                                </div>
                            </div>

                        </dx-data-grid>
                    </div>
                    <!--end::Section-->
                </div>
            </div>
            <!--end::Portlet-->
        </div>
    </div>
</div>
